.App > .Dashboard {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #eee;

  > .Title {
    position: absolute;
    width: 100%;
    height: 60px;
    background: #eee;
    border-bottom: 1px solid #ddd;

    > .SearchBar {
      position: absolute;
      width: auto;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      display: inline-flex;

      > .Holder {
        position: absolute;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: inline-flex;

        > .Sort-Button {
          position: relative;
          width: auto;
          height: 40px;
          background: #fff;
          border: 1px solid #ddd;
          box-sizing: border-box;
          border-radius: 6px;
          padding-left: 10px;
          padding-right: 10px;
          line-height: 38px;
          cursor: pointer;
          white-space: pre;
          margin-left: 5px;

          &.Selected {
            border-color: #2388FF;
          }
        }

        > .Input {
          position: relative;
          width: 200px;
          height: 40px;
          background: #fff;
          border: 1px solid #ddd;
          box-sizing: border-box;
          border-radius: 6px;
          padding-left: 10px;
        }
      }
    }
  }

  > .Holder {
    position: absolute;
    width: 100%;
    height: calc(100% - 61px);
    top: 61px;
    background: #eee;
    overflow: auto;

    > .List {
      width: 100%;
      height: auto;
      position: relative;
      float: left;
      box-sizing: border-box;
      padding: 20px;

      > .Card {
        position: relative;
        float: left;
        width: 96%;
        background: #fff;
        height: auto;
        box-sizing: border-box;
        padding: 10px;
        margin: 2%;
        border-radius: 6px;
        border: 1px solid #ddd;

        > .Line {
          position: relative;
          float: left;
          line-height: 30px;
          height: 30px;
          color: #666;
          width: 100%;

          > span {
            color: #000;
          }
        }
      }

      > .No-Data {
        position: absolute;
        width: auto;
        height: auto;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        left: 50%;
      }
    }
  }
}

@media (min-width: 576px) {
  .Card {
    width: 96% !important;
    margin: 2% !important;
  }
}

@media (min-width: 768px) {
  .Card {
    width: 46% !important;
    margin: 2% !important;
  }
}

@media (min-width: 992px) {
  .Card {
    width: 31.33% !important;
    margin: 1% !important;
  }
}

